<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
   <system.web>
      <authorization>
         <allow roles="Administrators,Editors" />
         <deny users="*" />
      </authorization>
   </system.web>

   <location path="Default.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,Editors,Contributors,Moderators,StoreKeepers" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>

   <location path="AddEditProduct.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,StoreKeepers" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>

   <location path="EditOrder.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,StoreKeepers" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>

   <location path="ManageDepartments.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,StoreKeepers" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>

   <location path="ManageOrders.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,StoreKeepers" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>
   
   <location path="ManageOrderStatuses.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,StoreKeepers" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>
   
   <location path="ManageProducts.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,StoreKeepers" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>
   
   <location path="ManageShippingMethods.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,StoreKeepers" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>
   
   <location path="AddEditArticle.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,Editors,Contributors" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>

   <location path="ManageUnapprovedPosts.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,Editors,Moderators" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>

   <location path="MoveThread.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators,Editors,Moderators" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>

   <location path="ManageUsers.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>

   <location path="EditUser.aspx">
      <system.web>
         <authorization>
            <allow roles="Administrators" />
            <deny users="*" />
         </authorization>
      </system.web>
   </location>
</configuration>